body {
    padding-top: 70px;
}

body > div.container {
    padding: 50px;
}

body > div.container h2 {
    text-align: center;
}

.logoImg {
    height: 40px;
    border-radius: 15px;
}

.nav-div {
    float: right;
}

div.right-aside {
    float: left;
}


.welcomeImg {
    height: auto;
    width: auto;
}
/*MachineInfo.JSP*/
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 53px;
    padding-left: 178px;

}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


/*Footer.JSP*/
footer {
    margin-bottom: -20px;
}

.workout-header {
    font-weight: bold;
    text-align: center;
}