body {
    /*padding-top: 70px;*/
    height: 100%;
    width: 100%;
}


body > div.container {
    padding: 50px;
}

body > div.container h2 {
    text-align: center;
}

.logoImg {
    height: 60px;
    border-radius: 15px;
}

/*Test Layout*/
.logoImg {
    height: 60px;
    border-radius: 15px;
    margin-right: 20px;
}

.navbar-inverse {
    /* background-color: #222; */
    border-color: #080808;
    background-color: #251552;
}

.appTitle{
    font-size: 30px;
    color: whitesmoke;
    font-family: "JetBrains Mono Medium", sans-serif;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

/*Test Layout*/
.nav-div {
    float: right;
}

div.right-aside {
    float: left;
}


.welcomeImg {
    height: auto;
    width: auto;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #d9edf7!important;
}
/*MachineInfo.JSP*/

.infoTitle{/*EDIT*/
    text-align: center;
    color: #251552;
    margin-top: 15px;
    font-weight: bold;
    font-size: 40px;
}
.h5, h5 {
    font-size: 18px;
    font-weight: 600;
    font-family: industry sans-serif;
}

.card {/*EDIT*/
    display: block;
    border: 1px solid orange;
    border-radius: 1rem;
    flex-direction: column;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    padding: 15px;
    background-color: aliceblue;
    border-right: 3px solid orange !important;
}

.col-sm-6 {/*EDIT*/
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 53px;
    padding-left: 250px;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/*Homepage*/
.h1index {
    font-size: 50px;
    text-align: center!important;
    color:aliceblue;
}

.carousel-inner>.item>img{
    display: block;
    max-width: 100%;
    height: 725px;
}

.carouselTitle{/*EDIT*/
    font-size: 45px;
    margin: 0 0.67em 0;
    color:aliceblue;
}

.carouselText{/*EDIT*/
    color:aliceblue;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav>li>a:hover {/*EDIT*/
    color: #fcf8e3;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {/*EDIT*/
    font-size: 14px;
    font-weight: 600;
    color: #d9edf7;
}

#calendar{ /*Edit calendar*/
    border: thick solid orange;
    border-spacing: 5px;
    border-radius: 40px;
    margin-top: 70px;
    padding-bottom: 40px;
    padding-right: 54px;
    background-color: aliceblue;
    padding-left: 54px;
    color: #756C7D;
    font-weight: 400;
    font-size: x-large;
}

#homeBackground {
    background-image: url("../img/bgtest.png");
    background-attachment: fixed;
    background-size: cover;
}
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}
.carousel{
    width: 100%;
    height: 100%;
}
/*
.carousel-inner>.item {
    position: relative;
    max-height: 300px;
    display: none;}
*/

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.row{
    display: block;
    margin: auto;
}
.carousel-item{
    height:32rem;
    background: #777;
    color: white;
    position: relative;
}

.thumbnail-pic{
    border-radius: 50% ;
    width: 200px;
    height: 200px!important;
}

.thumbnail-pic2{
    border-radius: 50% ;
    width: 200px;
    height: 200px!important;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ede7f6;
    border: 1px solid #734eb5;
    border-right-width: thick;
    border-radius: 4px;
    height: 425px;
}

.thumbnailboxsize{
    block-size: 80px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e64a19;
    border-color: #ffb74d;
}

.btn-logOff:hover {
    color: #fff;
    background-color: #e64a19;
    border-color: #ffb74d;
}
.btn-logOff {
    color: #fff;
    background-color: #ffb74d;
    border-color: #f57c00;
}

.btn-primary {
    color: #fff;
    background-color: #ffb74d;
    border-color: #f57c00;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    text-align: center;
}

#amenities{
    display: block;
    margin: auto;
}

.amenitymedia{
    margin-left: 100px;
    padding-bottom: 15px;
}

.amenitiespics{
    height: 500px!important;
}

.amenityrightmargin{
    margin-right: 100px;
}

.mediacolor{
    /*background-image: linear-gradient(whitesmoke, transparent);*/
    background-color: #F0F8FF;
}


.h1index {
    font-size: 50px;
}

.media-heading{
    --bs-text-opacity: 1;
    color: #756C7D!important;
    font-weight: 400;
    font-size: 50px;
    font-family: industry, sans-serif!important;
}

.amenitytext{
    font-size: 2.0rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #9999a1;
}

.media-body{
    padding-top: 188px;
    width: 10000px;
    padding-left: 58px;
    word-wrap: break-word;
}

.workout-header { /*EDIT Homepage*/
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

/*Footer.JSP*/
main{
    display: block;
    position: relative;
    min-height: 90vh;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #251552;
    color: whitesmoke;
    font-size: 12px;

}

.workout-header {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.alert-danger {
    color: #337ab7;
    background-color: #d9edf7;
    font-weight: bold;
    border-color: #337ab7;
    margin-top: 10px;
}

.workoutSchedules {
    margin-top: 50px;
}

/*a.btn-primary {
    margin: 5px;
    background-color: forestgreen;
    border-color: #734eb5;
}*/
/*Profile page Css*/
.profile-body{
    margin-top: 20px;
    background-color: white;
}

.main-profile {
    padding:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    background-color: white;
    color:black;
    height: 100%;
}
.card-body img{
    border-radius: 50%;
}
.card-profile{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    border: solid orange;
}
.content{
    background-color: #251552;
    color: white;
    padding: 20px;
}
.text-secondary{
    font-size: 16px;
}
.profile-link{
    list-style-type: none;
    color: white;
    font-size: 16px;
}
.profile-header{
    text-align: center;
}
.form-container{
    padding: 20px;
    border: solid orange;
    border-spacing: 5px;
    border-radius: 20px;
    margin: 20px 350px 20px 350px;
    overflow: auto;
    scrollbar-shadow-color: #333333;
    background-color: aliceblue;
}

footer {
    background-color: #734eb5;
    font-family: Helvetica, Arial, sans-serif;
}

div.container.d-flex.justify-content-center.py-5 {
    background-color: #734eb5;
    width: unset;
}
/*Login*/
.login{
    margin: 0;
    padding: 0;
    font-family: Arial;
    height:100vh;
    background-image: url("../img/bgtest.png");
    overflow: hidden;
    background-size: cover;
}
.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    height: 30vh;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid orange;
    color: #251552;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    bottom: 20px;
}
.text-field input  {
    width: 100%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text-field label{
    position: absolute;
    top: 65px;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.loginbtn{
    color: #fff;
    background-color: #ffb74d;
    border-color: #f57c00;
    padding: 5px 10px 5px 10px;
}
.loginbtn:hover {
    color: #fff;
    background-color: #e64a19;
    border-color: #ffb74d;
}
.btnDiv{
    width: 100%;
    left: 0;
    bottom: 10px;
    position: absolute;
}

/*checkin*/
#checkin-container{
    padding: 20px;
    border: solid orange;
    border-spacing: 5px;
    border-radius: 20px;
    margin: 20px 350px 20px 350px;
    overflow: auto;
    scrollbar-shadow-color: #333333;
    background-color: aliceblue;
    float: left;
}

#visit-metrics-section{
    float: right
}
