body {
/*padding-top: 70px;*/
    height: 100%;
    width: 100%;
}


body > div.container {
    padding: 50px;
}

body > div.container h2 {
    text-align: center;
}

.logoImg {
    height: 60px;
    border-radius: 15px;
}
/*Test Layout*/
.logoImg {
    height: 60px;
    border-radius: 15px;
    margin-right: 20px;
}

.navbar-inverse {
    /* background-color: #222; */
    border-color: #080808;
    background-color: #251552;
}

.h2, h2 {
    font-size: 30px;
    color: whitesmoke;
    font-family: "JetBrains Mono Medium", sans-serif;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}
/*Test Layout*/
.nav-div {
    float: right;
}

div.right-aside {
    float: left;
}


.welcomeImg {
    height: auto;
    width: auto;
}

/*MachineInfo.JSP*/

.h5, h5 {
    font-size: 18px;
    font-weight: 600;
    font-family: industry sans-serif;
}

.card {
    display: flex;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    flex-direction: column;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    padding: 15px;
    background-color: #f5f5f5;
    border-right: 3px solid #dee2e6 !important;
}

.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 53px;
    padding-left: 100px;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/*Homepage*/
.carousel-item{
    height:32rem;
    background: #777;
    color: white;
    position: relative;
}

.thumbnail-pic{
    border-radius: 50% ;
    width: 200px;
    height: 200px!important;
}

.thumbnail-pic2{
    border-radius: 50% ;
    width: 200px;
    height: 200px!important;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ede7f6;
    border: 1px solid #734eb5;
    border-right-width: thick;
    border-radius: 4px;}

.btn-primary:hover {
    color: #fff;
    background-color: #e64a19;
    border-color: #ffb74d;
}

.btn-primary {
    color: #fff;
    background-color: #ffb74d;
    border-color: #f57c00;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    text-align: center;
}
/*
.carousel,.item,.active {
    height: 100%;
    margin-bottom: 60px;
}

.carousel-inner{
    height: 100%;
}
*/

/*Footer.JSP*/
footer {
    margin-bottom: -20px;
}

.workout-header {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.alert-danger {
    color: forestgreen;
    background-color: lightgreen;
    border-color: forestgreen;
}

.workoutSchedules {
    margin-top: 50px;
}

a.btn-primary {
    margin: 5px;
    background-color: forestgreen;
    border-color: #734eb5;
}