body {
/*padding-top: 70px;*/
    height: 100%;
    width: 100%;
}


body > div.container {
    padding: 50px;
}

body > div.container h2 {
    text-align: center;
}

.logoImg {
    height: 60px;
    border-radius: 15px;
}
/*Test Layout*/
.logoImg {
    height: 60px;
    border-radius: 15px;
    margin-right: 20px;
}

.navbar-inverse {
    /* background-color: #222; */
    border-color: #080808;
    background-color: #251552;
}

.appTitle{
    font-size: 30px;
    color: whitesmoke;
    font-family: "JetBrains Mono Medium", sans-serif;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}
/*Test Layout*/
.nav-div {
    float: right;
}

div.right-aside {
    float: left;
}


.welcomeImg {
    height: auto;
    width: auto;
}

/*MachineInfo.JSP*/

.h5, h5 {
    font-size: 18px;
    font-weight: 600;
    font-family: industry sans-serif;
}

.card {
    display: flex;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    flex-direction: column;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    padding: 15px;
    background-color: #f5f5f5;
    border-right: 3px solid #dee2e6 !important;
}

.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 53px;
    padding-left: 100px;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/*Homepage*/


div#calendar{ /*Edit calendar*/
    border: thick solid orange;
    border-spacing: 5px;
    border-radius: 40px;
    margin-top: 70px;
    padding-bottom: 40px;
    padding-right: 54px;
    background-color: aliceblue;
    padding-left: 54px;
    color: #756C7D;
    font-weight: 400;
    font-size: x-large;
}

#homeBackground {
    background-image: url("../img/bgtest.png");
    background-attachment: fixed;
    background-size: cover;
}
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}
.carousel{
    width: 100%;
    height: 100%;
}
/*
.carousel-inner>.item {
    position: relative;
    max-height: 300px;
    display: none;}
*/

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.row{
    display: block;
    margin: auto;
}
.carousel-item{
    height:32rem;
    background: #777;
    color: white;
    position: relative;
}

.thumbnail-pic{
    border-radius: 50% ;
    width: 200px;
    height: 200px!important;
}

.thumbnail-pic2{
    border-radius: 50% ;
    width: 200px;
    height: 200px!important;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ede7f6;
    border: 1px solid #734eb5;
    border-right-width: thick;
    border-radius: 4px;
    height: 425px;
}

.thumbnailboxsize{
    block-size: 80px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e64a19;
    border-color: #ffb74d;
}

.btn-primary {
    color: #fff;
    background-color: #ffb74d;
    border-color: #f57c00;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
    text-align: center;
}

#amenities{
    display: block;
    margin: auto;
}

.amenitymedia{
    margin-left: 100px;
    padding-bottom: 15px;
}

.amenitiespics{
    height: 500px!important;
}

.amenityrightmargin{
    margin-right: 100px;
}

.mediacolor{
    /*background-image: linear-gradient(whitesmoke, transparent);*/
    background-color: #F0F8FF;
}


.h1index {
    font-size: 50px;
}

.media-heading{
    --bs-text-opacity: 1;
    color: #756C7D!important;
    font-weight: 400;
    font-size: 50px;
    font-family: industry, sans-serif!important;
}

.amenitytext{
    font-size: 2.0rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #9999a1;
}

.media-body{
    padding-top: 188px;
    width: 10000px;
    padding-left: 58px;
    word-wrap: break-word;
}

.workout-header { /*EDIT Homepage*/
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

/*Footer.JSP*/
main{
    display: block;
    position: relative;
    min-height: 90vh;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #251552;
    color: whitesmoke;
    font-size: 12px;

}

.workout-header {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.alert-danger {
    color: forestgreen;
    background-color: lightgreen;
    border-color: forestgreen;
}

.workoutSchedules {
    margin-top: 50px;
}

a.btn-primary {
    margin: 5px;
    background-color: forestgreen;
    border-color: #734eb5;
}
